/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

h1 {
  color: white;
  background-color:#004a7c;
  text-align: center;
}

h2 {
    font-size: 30px;
    display: block;
    max-width: 100%;
    color: #004a7c;
  }

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: flex ;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
  }

  .button1 {
    background-color: #f38a00; 
    color: white; 
  }
  
  .button1:hover {
    background-color: #d87b02;
    color: white;
    
  }

  .excel {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: flex ;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
  }

  .excel {
    background-color: #21a366; 
    color: white; 
  }
  
  .excel:hover {
    background-color: #107c41;
    color: white;  
  }

  .flex-container {
    background-color: DodgerBlue;
    max-width: 100%;
    background-color: #f1f1f1;
    display: flex;
    padding: 20px;
    font-size: 30px;
  }

  .flex-container > div {
    display: block;
    width: 100%;
  }

  label {
    font-size: 30px;
    display: block;
    max-width: 100%;
    color: #004a7c;
  }

  textarea {
    overflow: auto;
    width: 350px;
    height: 250px;
    font-size: 15px;
    border: #004a7c 2px solid;
  }

  pre {
    overflow: auto;
    width: 350px;
    height: 250px;
    font-size: 15px;
    border: #004a7c 2px solid;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .center1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .unmatched {
    padding: 10px;
  }

